.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85svh;
    width:100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.contacto img {
    height: 10rem;
}

.contacto a {
    color: black;
}

@media screen and (min-width: 700px) {
    .contacto {
        height: 85svh;
    }
}