.asociacion-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asociacion-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.asociacion-section img {
    height: 10rem;
}

@media screen and (min-width: 700px) {    
    .asociacion-section {
        justify-content: space-evenly;
        height: 80svh;
        text-align: center;
    }
}