footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--quaternary);
  color: white;
  height: 4rem;
  font-size: 0.6rem;
  bottom: 0;
  position: sticky;
}

footer a {
  color: var(--secondary);
}

footer a:hover {
  color: var(--tertiary);
}

.rrss-container {
  width: 100svw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rrss {
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (min-width: 700px) {
   footer {
    flex-direction: row;
  }

  .rrss-container {
    width: 75%;
    justify-content: space-around;
  }

  .rrss {
    width: 2rem;
    height: 2rem;
  }
/*
  footer p {
    margin-left: 1rem;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .rrss-container, .donde-estamos {
    border: 1px solid white;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  .rrss-container {
    justify-content: space-around;
  }

  .rrss {
    height: 2rem;
  }

  .rrss-container a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .donde-estamos {
    justify-content: space-evenly;
    text-align: center;
  } */
}
