@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}

:root {
  --primary: #7b6267;
  --secondary: #fff4f2;
  --tertiary: #d6e4c3;
  --quaternary: #678959;
  --quinary: #a43e5a;
}

/* body {
  font-size: calc(13px + 0.390625vw);
} */

